/* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

p {
  color: rgb(85, 85, 85);
}

/* TRANSITION */

a,.btn {
  transition: all 300ms ease;
}

/* DESKTOP NAV */

nav, .nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}

.nav-links {
  gap: 2vw;
  list-style: none;
  font-size: 3vh;
}

.anav {
  color: black;
  text-decoration: none;
  text-decoration-color: white;
}

.anav:hover {
  color: grey;
  text-decoration: underline;
  text-underline-offset: 1.5vh;
  text-decoration-color: rgb(181, 181, 181);
}

.logo {
  width: 15vw;
  margin-top: 3vh;
}

.nav_img {
  width: 2vw;
}

.nav_buttons, .nav_img {
  margin: 1vw;
}

.nav_buttons{
  border: none;
  background-color: white;
}


.search-input {
  position: absolute;
  top: 8vw;
  right: 2vw;
  width: 15%;
  height: 4vh;
  padding: 1vh;
  transition: .2s linear;
  border: 0.2vh solid black;
  font-size: 1.4vh;
  text-transform: uppercase;
  letter-spacing: 0.2vw;
}

.search-input:focus {
  outline: none;
  border: 0.05vh solid black;
  box-shadow: -0.5vh -0.5vh 0vh black;
}


@keyframes anim {
  0%,
  100% {
    transform: translateY(calc(-50% - 5px)) scale(1);
  }

  50% {
    transform: translateY(calc(-50% - 5px)) scale(1.1);
  }
}

/* SECTIONS */

section {
  padding-top: 4vh;
  height: 96vh;
  box-sizing: border-box;
  min-height: fit-content;
}

.section-container {
  display: flex;
}

/* HOME SECTION */

#home {
  display: flex;
  justify-content: center;
  height: 80vh;
}

.section__pic-container {
  display: flex;
  height: 50vh;
  width: 50vw;
  margin: auto 0;
}

.section__text {
  align-self: center;
  text-align: center;
}

.section__text p {
  font-weight: 600;
}

.section__text__p1 {
  text-align: center;
  margin-top: 3vh;
}

.section__text__p2 {
  font-size: 2vh;
  margin-bottom: 1vh;
}

.section__text__p3 {
  font-size: 3vh;
  text-align: left;
  color: black;
  text-decoration: none;
}

.section__text__p4 {
  text-align: center;

}

.title {
  font-size: 7vh;
  text-align: center;
  margin-bottom: 2vh;
}

.title2 {
  font-size: 5vh;
  text-align: left;
  margin: 4vh;
}


.foto1 {
  border: 0.1vh solid black;
  box-shadow: 0.1vh 0.1vh 1.5vh black;
}

/*DROP ESPECIAL SECTION*/
#dropespecial {
  height: 80vh;
}

.carrito {
  width: 1vw;
  margin-right: 0.75vw;
}

.comprarya {
  align-self: center;
  text-decoration: none;
  border: solid black 1px;
  background-color: white;
  color: black;
  padding: 1vh;
  transition: .5s, color .10s;
  -webkit-transition: .5s, color .10s;
  -moz-transition: .5s, color .10s;
}

.comprarya:hover{
  box-shadow: 0 0.8vh 0.8vh 0 grey,0 0.8vh 0.8vh 0 grey;
  transform: translate(0vh,0.vh);
  -webkit-transform: translate(0vh,0.5vh);
  -moz-transform:translate(0vh,0.5vh);
}

.slider-frame {
	width: 33vw;
  height: 30vh;
}

.slider-frame ul {
	display: flex;
	padding: 0;
}

.slider-frame li {
	list-style: none;
}

.imgdrop {
	width: 15vw;
  height: 25vh; 
}

.imgdrop2 {
	width: 15vw;
  height: 25vh;
  position: absolute;
}

.pbuttondiv , .h2p {
  display: flex;
  justify-content: space-around ;
  border-top: 0.1vh dashed black;
  padding-top: 3vh;
}

#dropespecial table{
  width: 100%;
  height: 80vh;
  border-collapse: collapse;
}

#dropespecial table td {
  width: 33%;
  height: 50vh; 
  border-radius: 5%;
  border: 0.1vh solid black;
}

#coleccionprinc table{
  width: 100%;
  height: 80vh;
  border-collapse: collapse;
}

#coleccionprinc table td {
  width: 33%;
  height: 50vh; 
  border-radius: 5%;
  border: 0.1vh solid black;
}

table tr td a {
  text-decoration: none;
}

/*CATEGORIAS SECTION*/

.carrusel {
  display: flex;
  width: 33vw;
  height: auto;
}

.carrusel img {
  width: 33vw;
  opacity: 0.8;
  transition: 0.5s ease;
  border: 0.1vh solid black;
}

.carrusel img:hover {
  opacity: 1;
}


.carrusel a , .carrusel a p {
  text-align: center;
  text-decoration: none;
  color: black;
  font-family: "Anton SC", sans-serif;
}

.carrusel a p , hr {
  margin-top: 2vh;
}

hr {
  border: none;
  border-top: 0.1vh dashed black;
  height: 0;
}

/* CONTACTO.HTML */

#sectform {
  display: flex;
  justify-content: space-around;
  height: 80vh;
  margin-top: 10vh;
}


#contactform , #sectform table {
  width: 40vw;
  height: 60vh;
}

#contactform {
  padding: 2vh;
  background-color: rgb(255, 255, 255);
  border-radius: 5%;
}

#sectform table{
  border: 0.1vh solid black;
  border-collapse: collapse;
  box-shadow: 0.7vh 0.7vh 1vh grey;
}

#sectform table td {
  padding: 1.5vh;
  border: 0.1vh dotted black;
}

#sectform table td input {
  border: 0.1vh solid black;
  padding: 0.5vh;
  width: 80%;
}

#sectform table td .btnresend {
  border: 0.1vh dashed black;
  padding: 0.5vh;
  background-color: white;
}


.tarjeta {
  width: 32vw;
  margin-top: 2vh;
  border: 0.2vh solid black;
  box-shadow: 0.1vh 0.1vh 0.1vh grey;
  
}

/*HODDIES , SUDADERAS , CAMISETAS */

#sectprod table {
  width: 100%;
  border: 0.1vh solid black;
  border-collapse: collapse;
  height: 100%;
}

#sectprod table td {
  border: 0.1vh solid black;
}


.divprod {
  height: 45vh;
}

.imgprod {
  width: 14vw;
  height: 25vh;
  margin: 2vh;
}

/* AUTH SECTION */

#auth {
  height: 80vh;
}

#auth div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.div_signin {
  height: 60vh;
}

.div_login {
  height: 50vh;
}

.div_signin , .div_login {
  width: 20vw;
  border-radius: 5%;
  padding: 5vh;
  margin-top: 4vh;
  box-shadow: -0.4vh 0.6vh 0.6vh 0.6vh rgb(0, 0, 0, 0.3);

}

#form_signin {
  align-items: center;
  margin-top: 4vh;
  display: flex;
  flex-direction: column;
}

.inputBox {
  position: relative;
}

.inputBox input {
  padding: 15px 20px;
  outline: none;
  background: transparent;
  border-radius: 5px;
  color: #212121;
  border: 1px solid#212121;
  font-size: 1em;
  margin: 2vh;
}

.inputBox span {
  position: absolute;
  left: 0;
  font-size: 0.7em;
  transform: translateX(1.5vw) translateY(-3vh);
  padding: 0 6px 1px 5px;
  border-radius: 2px;
  background: #e8e8e8;
  letter-spacing: 1px;
  border: 1px solid #212121;
  color: #212121;
}

.alogin {
  margin-top: 2vh;
  color: black;
  text-decoration: none;
  text-decoration-color: white;
}

.alogin:hover {
  color: grey;
  text-decoration: underline;
  text-underline-offset: 1vh;
  text-decoration-color: rgb(181, 181, 181);
}

/* From Uiverse.io by mrhyddenn */ 
.button_signup {
  background: #fff;
  border: none;
  padding: 10px 20px;
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  width: 120px;
  text-transform: uppercase;
  cursor: pointer;
  transform: skew(-21deg);
  box-shadow: -0.4vh 0.6vh 0.6vh 0.6vh rgb(0, 0, 0, 0.3);
  margin: 20px;
}

.button_signup span {
  display: inline-block;
  transform: skew(21deg);
}

.button_signup::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 100%;
  left: 0;
  background: rgb(20, 20, 20);
  opacity: 0;
  z-index: -1;
  transition: all 0.5s;
}

.button_signup:hover {
  color: #fff;
}

.button_signup:hover::before {
  left: 0;
  right: 0;
  opacity: 1;
}

/* SUCCES SECTION */

#succes_section {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.message_box {
  height: 30vh;
  width: 40vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: -0.4vh 0.6vh 0.6vh 0.6vh rgb(0, 0, 0, 0.3);
  border-radius: 15px;
}


.message_box h2 {
  margin-bottom: 4vh;
}

/* PROFILE SECTION */

.change_passwd {
  font-size: 3vh;
  text-align: left;
  margin-left: 2vw;
}

.usuimg {
  width: 3vw;
  margin-right: 1vw;
}

.divusu {
  width: 15vw;
  display: flex;
  flex-wrap: wrap;
  margin: 2vw;
  padding: 4vh;
  box-shadow: -0.4vh 0.6vh 0.6vh 0.6vh rgb(0, 0, 0, 0.3);
  border-radius: 1vw;
}

/* FOOTER SECTION */

footer {
  height: 26vh;
  margin: 0 1vh;
}

footer p {
  text-align: center;
}

